<h1>Bem-vindo à página inicial</h1>

<ul>
  <li><%= link_to 'Paciente', pacientes_path %></li>
  <li><%= link_to 'Médico', medicos_path %></li>
  <li><%= link_to 'Agendar Consulta', new_consulta_path %></li>
  <!-- Adicione outros links para as funcionalidades implementadas -->
</ul>
