<h2>Consultas</h2>
<% if @medico.consultas.any? %>
  <ul>
    <% @medico.consultas.each do |consulta| %>
      <li><%= consulta.data %> - <%= consulta.horario %> - <%= consulta.paciente.nome %></li>
    <% end %>
  </ul>
<% else %>
  <p>Não há consultas agendadas com este médico.</p>
<% end %>
